.custom-card2{
    height: 400px;
    margin-right: 50px;
    margin-top: 150px;
    margin-left: 500px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: transparent;
    z-index: 1;
}

.custom-card2::before,
.custom-card2::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 70px;
  background-size: cover;
}

.custom-card2::before {
  top: 0;
  background-image: url('../images/bgTop.png'); /* Relative path to the top image */
  left: 0;
  z-index: -1;
  width: 30%;
  height: 200px;
}

.custom-card2::after {
  bottom: 0;
  background-image: url('../images/bgBottom.png'); /* Relative path to the bottom image */
  right: 0;
  z-index: -1;
  height: 200px;
}

  