
#emp {
    border-collapse: collapse;
    width: 70%;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #emp tr, #bils th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: 600;
  }
  #emp tr {
    line-height: 30px;
  }
  #emp tr:nth-child(even){background-color: #dbcfe1;}
  
  #emp th {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    font-weight: 700;
    background-color: #9566ab;
    color: white;
    
  }
  td span {
    margin-right:15px;
  }

.btn{
    border: none;
    color: white;
    padding: 5px, 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px, 2px;
    cursor: pointer;
}

.btn-edit{
    background-color: #008cba;
    padding: 5px;
    margin-left: 10px;
}

.btn-delete{
    background-color: #f44336;
    padding: 5px;
    margin-left: 10px;
}

.btn-view{
    background-color: #e7e7e7;
    color: black;
    padding: 5px;
    margin-left: 10px;
}