.header{
    overflow: hidden;
    background-color: #3e1d6c;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000
 
}

.header p{
    float: left;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: medium;
    line-height:3px;
    border-radius: 4px;
}

.header p.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
    margin-top: 30px;
}

.header p:hover {
    background-color: #ddd;
    color: #5d6770;
}

.header p.active{
    background-color: dodgerblue;
    color: white;
}

.header-right{
    float: right;
}

.account-link{
    color:white; 
    text-decoration: none;
    margin-right: 20px; 
    margin-top: 30px;
    font-size: medium;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .header p{
        float: none;
        display:block;
        text-align: left;
    }

    .header-right{
        float: none;
    }
}